@import "../../sass/default/variable";

.st-skill-title {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 25px;
}

.st-progressbar-wrap {
  overflow: hidden;
}

.st-progressbar-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2px;
  font-family: "Roboto", sans-serif;
}

.st-single-progressbar {
  margin-top: -5px;
}

.st-progressbar-title {
  font-size: 16px;
  margin-bottom: 0;
}

.st-progressbar-percentage {
  color: $base-color1;
  font-weight: 400;
}

.st-progressbar {
  height: 2px;
  background-color: $dark-color5;
}

.st-progressbar-in {
  background-color: $base-color1;
  height: 2px;
}

.st-viewmore {
  background-color: $base-color1;
  color: $dark-color4;
  padding: 0.5em 2em;
  border-radius: 100vmax;
  border: 2px solid transparent;
  transition: all 0.4s ease-in-out;

  &:hover {
    border: 2px solid $base-color1;
    color: $base-color3;
    background-color: transparent;
    scale: 0.9;
  }
}

@media screen and (max-width: 991px) {
  .st-skill-title {
    font-size: 28px;
  }
}
